<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Board">
	<!--용국  0-->
	<select id="getBoardList" resultType="kh.eclass.dto.BoardDTO">
		select * from (select ROWNUM num, N.* from (select * from gitboard order by writedate desc) N)
		where num between #{startRowNum} and #{endRowNum}
	</select>
	
	<select id="getBoardSearchList" resultType="kh.eclass.dto.BoardDTO">
		select * from (select ROWNUM num, N.* from (select * from gitboard order by writedate desc) N)
		where num between #{startRowNum} and #{endRowNum} and title like '%'||#{title}||'%'
	</select>
	
	<select id="getBoardTotalCount" resultType="Integer">
		select count(*) from gitboard 
	</select>
	
	<select id="getBoardSearchTotalCount" resultType="Integer">
		select count(*) from gitboard where title like '%'||#{title}||'%'
	</select>
	


	<!--지영  -->
	<!-- 글쓴이 아이디 가져오기 -->
	<select id="getWriterId" resultType="String">
		select writerid from gitboard where seq=#{seq}
	</select>
	<!-- Seq값으로 글 내용 가져오기 -->
	<select id="selectContents" resultType="kh.eclass.dto.BoardDTO">
		select * from gitboard where seq=#{seq}
	</select>
	
	<!-- // 작성자 일때만 수정/삭제 보이기  -테스트-->
	 <select id="isWriterContents" resultType="Integer">
		select count(*) from gitboard where writerid=#{writerId}
	</select> 
	
	<!-- // 작성자 일때만 수정/삭제 보이기 -->
 	<!-- <select id="isWriterContents" resultType="Integer">
		select count(*) from gitboard where seq=#{seq} and writerid=#{writerId}
	</select>  -->
	
	<!-- 수정된 게시글 업로드 -->
	<update id="updateContents">
		update gitboard set title=#{title}, contents=#{contents} where seq=#{seq}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="delContents">
		delete from gitboard where seq=#{seq}
	</delete>
	
	<!-- 게시글 작성 -->
	<select id="selectSeq" resultType="Integer">
		SELECT GITBOARD_SEQ.NEXTVAL FROM USER_SEQUENCES WHERE SEQUENCE_NAME='GITBOARD_SEQ'
	</select>
	
	<insert id="insertBoard">
		INSERT INTO GITBOARD VALUES(#{dto.seq}, #{dto.title}, #{dto.contents}, #{dto.writerId}, sysdate)
	</insert>
  </mapper>