<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Board">
	<select id="getBoardList" resultType="kh.eclass.dto.BoardDTO">
		select * from (select ROWNUM num, N.* from (select * from gitboard order by writedate desc) N)
		where num between #{startRowNum} and #{endRowNum}
	</select>
	<select id="getBoardTotalCount" resultType="Integer">
		select count(*) from gitboard 
	</select>
  </mapper>